params {
  // cleanup = true
  skip_performance_excel = false
  run_as_single_reads = false

  if (!skip_performance_excel) {
    run_info = "$launchDir" + '/RunInfo.xml'
    stats_json = "$launchDir" + '/Stats/Stats.json'
  }

  maxcpus = Runtime.runtime.availableProcessors()

  // if (params.maxcpus < 2) {
  //   halfmaxcpus = 1
  // } else {
  //   halfmaxcpus = Math.ceil(params.maxcpus / 2)
  // }

  if (maxcpus < 8) {
    medcpus = maxcpus
  } else {
    medcpus = 8
  }

  if (maxcpus < 4) {
    halfmedcpus = maxcpus
  } else {
    halfmedcpus = Math.floor(medcpus / 2)
  }

  reads = "$launchDir" + '/reads'
  outdir = "$launchDir" + '/results'

  adapter_fasta = "$projectDir" + '/reference/adapters.fa.gz'

  // container_bbtools = 'staphb/bbtools:latest'
  container_bbtools = 'staphb/bbtools:38.97' // temporary downgrade due to bug
  container_ivar = 'staphb/ivar:latest'
  container_nextclade = 'nextstrain/nextclade:latest'
  container_pangolin = 'staphb/pangolin:latest'
  container_python = 'python:latest'
  container_samtools = 'staphb/samtools:latest'
  container_vadr = 'staphb/vadr:latest'

  bbmap_align_options = 'local maxindel=500 k=12'
  mincov = 15
  nextclade_options = ''
}

process {
  publishDir = [ path: params.outdir, mode: 'copy' ]
}

docker {
  enabled = true
  runOptions = "-u \$(id -u):\$(id -g) --pull always"
}

profiles {
  docker {
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  singleReads {
    params.run_as_single_reads = true
  }
  sarscov2 {
    params.species = 'sarscov2'
  }
  hmpxv {
    params.species = 'hmpxv'
  }
}
